<div><h1 style="color:#338ecf;text-align:center;">Create Packs</h1></div> 
<br>
    <div class="row">   
<div class="form-group col-sm-4" id="create_pack"> 
<div class="container" style="border:3px solid #428bca;background:white;width:350px;height:200px;">
<div><h3 style="color: #338ecf;text-align:center;">Create Pack</h3></div>
<input type="text" [(ngModel)]="pack_id" #a value={{ids}}  class="form-control" placeholder="loan id" readonly/>
<br>
<input type="button" [disabled]=button class="btn btn-primary" #b (click)="createPack(a.value)" value="Create"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="btn btn-danger"  (click)="clear(a.value)" value="Clear"/>
</div>
</div>
  
</div>  
&nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="row">
<div class="col-sm-8" id="spv_loan_detail">
  <div class="container" style="border:3px solid #428bca;background:white;overflow-y:auto;height:450px;">
    <div><h3 style="color:#338ecf;text-align:center;">SPV Loan Details</h3><h3 style="color:#338ecf;text-align:right;">Available Loan:{{loan}}</h3></div> 
    <table  class="table table-responsive-md">
    <thead>
      <tr>
        <th><h4 style="color: black;">Loan Id</h4></th>
        <th><h4 style="color: black;">Token address</h4></th>
        <th><h4 style="color: black;">Token value</h4></th>
        <th><h4 style="color: black;">Bank Address</h4></th>
        <th><h4 style="color: black;">Total Amount</h4></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bank of loandetails;">
            <td>{{bank.loanid}}</td>
            <td>{{bank.tokenvalue}}</td>
            <td>{{bank.tokenaddress}} </td>
            <td>{{bank.bankaddress}}</td>
            <td>{{bank.totalamount}}</td>
            <td><button class="btn btn-primary" (click)="selectloan(bank.loanid)">SelectID</button></td>
        </tr>
    </tbody>
  </table>
  </div>
</div>  
</div>
<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    loadingText="Loading..."
    type="ball-scale-multiple">
</ngx-spinner>