<html>
	<head>
		<title>Ethereum Account Connectivity Error Page</title>
	</head>
	<body>
		<br><br><br>
		 <img class="center" src="./assets/metamask-fox-logo.png"/> 
		
			<p style="text-align:center">
				<br>There was an error while fetching your account.
				<br>Make sure your Ethereum client is configured correctly

				<br>Tips:
				<br>Ensure you unlocked your MetaMask plugin.
				<br>If you don't have MetaMask plugin install here: 
				<br><a href ="https://metamask.io/ ">https://metamask.io/</a>
			</p>
	
	</body>
</html>