<div><h1 style="color:#338ecf;text-align:center;">SPV PackDetails</h1></div> 
<br>
<br><br>
<div class="col-sm-4" id="spv_pack">
    <div class="container" style="border:3px solid #428bca;background:white;overflow-y:auto;height:350px;">
 <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3 style="color: #338ecf;text-align:center;">SPV package details</h3></div> 
  <table  class="table table-responsive-md">
      <thead>
        <tr>
          <th><h4 style="color: black;">Package Id</h4></th>
          <th><h4 style="color: black;">Total Amount</h4></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let spv of packdetails;">
              <td>{{spv.packid}}</td>
              <td>{{spv.tokenvalue}} </td>
              
          </tr>
      </tbody>
    </table>
    </div>
    </div>