
<div class="container">
    
     
          <div class="container" style="border:3px solid #428bca;;background:white">
              <h1>Register The SPV Here...</h1>
              <p>Please fill in this form to create an account.</p>
              <hr style="border:1px solid #428bca;">
              <form [formGroup]="angForm" #fid novalidate>
          
                <div class="form-group">
                    <label>Deposit Amount</label>
                    <input class="form-control" formControlName="amt" type="text" placeholder="Enter the amount in Ether" #a>
                </div>
                <div *ngIf="angForm.controls['amt'].invalid && (angForm.controls['amt'].dirty || angForm.controls['amt'].touched)" class="alert alert-danger" >
                    <div *ngIf="angForm.controls['amt'].errors.required">
                      Deposit is required.
                    </div>
                </div>
                <button type="submit"
                    [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary" (click)="spv_reg(a.value)">Register
                </button>
                <button type="submit" class="btn btn-danger" (click)="fid.reset()">Cancel</button>
          </form>
           </div>
</div>

  



<ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      loadingText="Loading..."
      type="ball-scale-multiple">
</ngx-spinner>

